*{
    margin: 0;
    padding: 0;
    font-family: "Madimi One", sans-serif;
}
/*Predeterminado*/
$color-principal: salmon;
$color-letra: black;
$color-secundario: #f8f9fa;

body{
    background-color: $color-principal
}
span{
    color: $color-principal
}
.navbar-nav a:hover{
    color: $color-principal;
}
.nuevos-ingresos{
    text-align: center;
    background-image: linear-gradient($color-secundario 30% ,$color-principal);
}
img{
    width: 100%;
}
.columna{
    display: flex;
}
.nuevas{
    flex: 25%;
    padding: 8px;
}
.movimiento:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.nuevas img{
    margin-top: 5px;
}
.columna p{
    text-align: center;
    font-size: 30px;
    background-color: $color-secundario;
}
footer{
    background-image: linear-gradient($color-principal,$color-secundario 40%);
    text-align: center;
}
footer a{
    color: black;
    text-decoration: none;
    font-size: 20px
}
footer a:hover{
    color: $color-principal
}
.textocarousel{
    text-align: center;
    z-index: 1;
    margin-bottom: 100px;
}