* {
    margin: 0;
    padding: 0;
    font-family: "Madimi One", sans-serif;
}

/*Predeterminado*/
$color-principal: salmon;
$color-letra: black;
$color-secundario: #f8f9fa;

body {
    background-color: $color-principal
}

span {
    color: $color-principal
}

.navbar-nav a:hover {
    color: $color-principal;
}

.nuevos-ingresos {
    text-align: center;
    background-image: linear-gradient($color-secundario 30%, $color-principal);
}

img {
    width: 100%;
}

.columna {
    display: flex;
}

.nuevas {
    flex: 25%;
    padding: 8px;
}

.movimiento:hover {
    transform: scale(1.05);
    transition: all 1s;
}

.nuevas img {
    margin-top: 5px;
}

.columna p {
    text-align: center;
    font-size: 30px;
    background-color: $color-secundario;
}

footer {
    background-image: linear-gradient($color-principal, $color-secundario 40%);
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 20px
}

footer a:hover {
    color: $color-principal
}

.carousel-inner {
    display: flex;
}

.Jumbotron {
    background-image: linear-gradient($color-secundario, $color-principal 60%);
    text-align: center;
    font-size: large;
}

.europa {
    flex: 25%;
    padding: 8px;
}

.europa img {
    max-height: 100px;
    max-width: 100px;
}

.contacto {
    text-align: center;
    background-color: $color-secundario;
    font-size: 25px;
}

.contacto a {
    color: $color-letra;
    text-decoration: none;
    font-size: 25px;
}

.contacto a:hover {
    color: $color-secundario;
}
.personalizada{
    text-align: center;
    font-size: 25px;
    z-index: 1;
}
.fondonosotros{
    z-index: 0;
    display: flex;
}
.retro{
    text-align: center;
    font-size: 25px;
    background-image:url(../img/retro.jpg);
    display: flexbox;
    height: 800px;
}
.retro a:hover{
    color: $color-secundario;
}
.retro a{
    text-decoration: none;
    color: $color-letra;
}
