* {
    margin: 0;
    padding: 0;
    font-family: "Madimi One", sans-serif;
}

/*Predeterminado*/
$color-principal: salmon;
$color-letra: black;
$color-secundario: #f8f9fa;
$color-letra-secundario: grey;

.expansion{
    transform: scale(1.05);
    transition: all 1s;
}
@mixin tablet {
    @media screen and (max-width: 800px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 641px) {
        @content;
    }
}

body {
    background-color: $color-principal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

span {
    color: $color-principal
}

.navbar-nav a:hover {
    color: $color-principal;
}

.nuevos-ingresos {
    text-align: center;
    background-image: linear-gradient($color-secundario 30%, $color-principal);
}

img {
    width: 100%;
}

.columna {
    display: flex;
}

.nuevas {
    flex: 25%;
    padding: 8px;
    display: flexbox;
}

.movimiento:hover {
@extend .expansion;
}

.nuevas img {
    margin-top: 5px;
}

.columna p {
    text-align: center;
    font-size: 30px;
    background-color: $color-secundario;
    display: flexbox;
    @include tablet{
        font-size: 25px;
    }
    @include mobile{
        font-size: 15px;
    }
}

footer {
    background-image: linear-gradient($color-principal, $color-secundario 40%);
    text-align: center;
    margin-top: auto;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 20px
}

footer a:hover {
    color: $color-principal
}

.carousel-inner {
    display: flex;
}

.Jumbotron {
    background-image: linear-gradient($color-secundario, $color-principal 60%);
    text-align: center;
    font-size: large;
}

.europa {
    flex: 25%;
    padding: 8px;
}

.europa img {
    max-height: 100px;
    max-width: 100px;
}

.contacto {
    text-align: center;
    background-color: $color-secundario;
    font-size: 25px;
    z-index: 1;
}

.contacto a {
    color: $color-letra;
    text-decoration: none;
    font-size: 25px;
}

.contacto a:hover {
    color: $color-principal;
}
.personalizada{
    text-align: center;
    font-size: 25px;
    z-index: 1;
}
.fondonosotros{
    z-index: 0;
    display: flex;
    position: absolute;
    bottom: 1px;
}
.retro{
    text-align: center;
    font-size: 25px;
    background: linear-gradient(rgba(5, 7, 12, 0.75),rgba(5, 7, 12, 0.75)),
    url(../img/retro.jpg);
    height: 90vh;
    color: $color-letra-secundario;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.retro a:hover{
    color: $color-secundario;
}
.retro a{
    text-decoration: none;
    color: $color-letra-secundario;
}